{% extends 'user/userindex.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-dark">
    <tr>
      <th width="170" scope="row">Username</th>
      <td width="124">{{ data.username }}</td>
    </tr>
    <tr>
      <th scope="row">Email Address</th>
      <td>{{ data.email }}</td>
    </tr>
    <tr>
      <th scope="row">Phone number</th>
      <td>{{ data.phonenumber }}</td>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}