{% extends 'admin/adminindex.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post"><table width="200" border="1">
  <tr>
    <th scope="col">#</th>
    <th scope="col">UserInfo</th>
    <th scope="col">DressInfo</th>

    <th scope="col">Photo</th>
<th scope="col">Ratings</th>
    <th scope="col">Date</th>
  </tr>
    {% for i in data %}

  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.USER.username }}<br>{{ i.USER.email }}<br>{{ i.USER.phonenumber }}</td>
      <td>{{ i.DRESS.dressname }}<br>{{ i.DRESS.dressprice }}<br>{{ i.DRESS.details }}<br>{{ i.DRESS.count }}</td>


     <td><img src="{{ i.DRESS.dressphoto }}" width="100px" height="100px"> </td>
      <td>{{ i.ratings }}</td>

    <td>{{ i.date }}</td>
    
    
  </tr>
    {% endfor %}
</table>



</form>
</body>
</html>
{% endblock %}
