{% extends 'user/userindex.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/bankaccpost">
    {% csrf_token %}
  <table width="301" border="1" class="table table-dark">
    <tr>
      <th width="171" height="65" scope="row">Bankname</th>
      <td width="114"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <th height="53" scope="row">Account</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <th height="53" scope="row">IFSC code</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <th height="74" colspan="2" scope="row"><input type="submit" name="button" id="button" value="ADD" /></th>
    </tr>
  </table>
    <table width="301" border="1" class="table table-dark">
        <tr>
            <th>SL NO</th>
            <th>Bank name</th>
            <th>Account number</th>
            <th>IFSC Code</th>
            <th>Amount</th>
            <th></th>
        </tr>
        {% for i in data %}
        <tr>
        <th>{{ forloop.counter }}</th>
        <td>{{ i.bank_name }}</td>
        <td>{{ i.account_no }}</td>
        <td>{{ i.ifsc_code }}</td>
        <td>{{ i.bankbalance }}</td>
        <td><a href="/delba/{{ i.id }}" onclick="return confirm('Are you sure to delete')">Remove</a> </td>
        </tr>
        {% endfor %}

    </table>
</form>
</body>
</html>
{% endblock %}