{#{% extends 'index.html'%}#}
{#{% block body %}#}

{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
<form id="form1" name="form1" method="post" action="/registration_post">
    {% csrf_token %}
    <center>
        <br>
        <br>
  <table  style="background-color: silver;color:black;height: 90%;width: 90%">
    <tr>
      <th  scope="row">Username</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" class="form-control" required id="textfield" /></td>
    </tr>
    <tr>
      <th scope="row">Password</th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
{#    <tr>#}
{#      <th scope="row">Re-enter the Password</th>#}
{#      <td><label for="textfield3"></label>#}
{#      <input type="text" name="textfield3" id="textfield3" /></td>#}
{#    </tr>#}
    <tr>
      <th scope="row">Email Address</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <th scope="row">Phonenumber</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" /></td>
    </tr>
    <tr>
      <th height="51" colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" class="btn btn-secondary"/></th>
    </tr>
  </table>
        </center>
</form>
{#</body>#}
{#</html>#}
{#{% endblock %}#}